*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

article{
    
}

.alumno{
    background-color: black;
    color: white;
    padding: 10px;
}

.perfil{
    color: black;
    padding: 10px;
    
}

.idiomas{
    padding: 10px;
}

.estudios{
    color: black;
    padding: 10px;
}

.skills{
    color: black;
    padding: 10px;
}

.contacto{
    background-color: rgb(209, 160, 24);
    color: white;
    padding: 10px;
    text-align: center;
}

.idiomas{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.intereses{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.formulario{
    float: right;
}

h6{
   
}

.tipos_skills{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    row-gap: 10px;
    column-gap: 50px;
    
}

.uno{
    background-color: rgb(209, 160, 24);
    border-style: solid;
    border-radius: 5px;
}

.dos{
    background-color: rgb(209, 160, 24);
    border-style: solid;
    border-radius: 5px;
}

.tres{
    background-color: rgb(209, 160, 24);
    border-style: solid;
    border-radius: 5px;
}

.cuatro{
    background-color: rgb(209, 160, 24);
    border-style: solid;
    border-radius: 5px;
}

.cinco{
    background-color: rgb(209, 160, 24);
    border-style: solid;
    border-radius: 5px;
}

.seis{
    background-color: rgb(209, 160, 24);
    border-style: solid;
    border-radius: 5px;
}

.siete{
    background-color: rgb(209, 160, 24);
    border-style: solid;
    border-radius: 5px;
}

.ocho{
    background-color: rgb(209, 160, 24);
    border-style: solid;
    border-radius: 5px;
}

.comunidad{
    text-align: justify;
    vertical-align: middle;
}

.comunidad-imagen{
    border-radius: 150px;
}

.clara-imagen{
    border-radius: 150px;
}

@media screen and (max-width:500px){
    body{
        grid-template-columns: auto;
    }
}